{% extends 'layout/back.html.twig' %}

{% block title %}Liste des Propriétaires {% endblock %}
{% block body %}
<div class="container">

    {% if proprietaireEntities|length == 0 %}
    <a class="m-2 btn btn-primary" href="{{ path('admin_proprietaire_create')}}">Add a new Proprietaire</a>
    {% endif %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Raison Sociale</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for proprietaire in proprietaireEntities %}
            <tr>
                <td>
                   <a href="{{ path('admin_proprietaire_read', {'id': proprietaire.id}) }}">{{ proprietaire.raisonSociale }}</a>
                </td>
                <td>
                  <a class="m-2 btn btn-primary" href="{{ path('admin_proprietaire_update', {'id': proprietaire.id}) }}">Update</a>
                    <a class="m-2 btn btn-danger" href="{{ path('admin_proprietaire_delete', {'id': proprietaire.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
