{% extends 'layout/back.html.twig' %}
{% block title %}Update a new Forum {% endblock %}
{% block body %}

    <div class="container">
        <a class="btn btn-primary" href="{{ path('admin_forum') }}">Retour</a>
        <div class="m-2 container card">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.title) }}
                </div>
            </div>











            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Update' }) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        function vote(Obj, val) {

            var champ = Obj.parentElement.children.namedItem('game_noteGlobal');
            champ.value = val;
            console.log(champ.value);

        }

        function fillstar(Obj){
            var stars=document.getElementsByName(Obj.name);



            for(i=0;i<stars.length;i++){

                if (i<=Obj.id){stars[i].src="{{ asset('images/fullstar.jpg') }}"}
                else{stars[i].src="{{ asset('images/emptystar.jpg') }}"}


            }
        }
    </script>


{% endblock %}
