{% extends 'layout/back.html.twig' %}

{% block title %}Liste des Devices {% endblock %}
{% block body %}
<div class="container">
    <a class="m-2 btn btn-primary" href="{{ path('admin_device_create')}}">Add a new Device</a>

    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for device in deviceEntities %}
            <tr>
                <td>
                   <a href="{{ path('admin_device_read', {'id': device.id}) }}">{{ device.name }}</a>
                </td>
                <td>
                    <a class="m-2 btn btn-primary" href="{{ path('admin_device_update', {'id': device.id}) }}">Update</a>
                    <a class="m-2 btn btn-danger" href="{{ path('admin_device_delete', {'id': device.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
