{% extends 'layout/back.html.twig' %}

{% block title %} Bienvenue {% endblock %}

{% block body %}
    <h1 class="text-center"> Bienvenue sur la partie administration</h1>

    <div class="container">
        <div class="row">
            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Post Category</h5>
                    <a href="{{ path('admin_post_category') }}"><img width="75%" class="text-center" src="{{ asset('/build/image/categorie.png') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Post</h5>
                    <a href="{{ path('admin_post') }}"><img width="75%" class="text-center" src="{{ asset('/build/image/post.png') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Device</h5>
                    <a href="{{ path('admin_device') }}"><img width="75%" class="text-center" src="{{ asset('/build/image/device.jpg') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Game Category</h5>
                    <a href="{{ path('admin_game_category') }}"><img width="75%" class="text-center" src="{{ asset('/build/image/categorie.png') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Game</h5>
                    <a href="{{ path('admin_game') }}"><img width="75%" class="text-center" src="{{ asset('/build/image/game.jpg') }}" /></a>
                </div>
            </div>


            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Forum</h5>
                    <a href="{{ path('admin_forum') }}"><img width="75%" class="text-center" src="{{ asset('/build/image/forum.png') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Message de contact</h5>
                    <a href="{{ path('admin_contact') }}"><img width="75%" class="text-center" src="{{ asset('/build/image//message.jpg') }}" /></a>
                </div>
            </div>






        </div>
    </div>

{% endblock %}
