{% extends 'layout/back.html.twig' %}

{% block title %} Bienvenue {% endblock %}

{% block body %}
    <h1 class="text-center"> Bienvenue sur la partie administration</h1>

    <div class="container">
        <div class="row">
            <div class="m-2 card border-success col-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Post Category</h5>
                    <a href="{{ path('admin_post_category') }}"><img width="100%" class="text-center" src="{{ asset('/images/categorie.png') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Post</h5>
                    <a href="{{ path('admin_post') }}"><img width="100%" class="text-center" src="{{ asset('/images/post.png') }}" /></a>
                </div>
            </div>

            <div class="m-2 card border-success col-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Message de contact</h5>
                    <a href="{{ path('admin_contact') }}"><img width="100%" class="text-center" src="{{ asset('/images/message.jpg') }}" /></a>
                </div>
            </div>




        </div>
    </div>

{% endblock %}
