{% extends 'layout/back.html.twig' %}

{% block title %}Liste des Post Category{% endblock %}
{% block body %}
<div class="container">
    <div class=" card">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.objet) }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Rechercher' }) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <a class="m-2 btn btn-primary" href="{{ path('admin_post_category_create')}}">Add a new Post Category</a>
    <div class="count">
        <h3> Number of post Category : {{ pagination.getTotalItemCount }} </h3>
    </div>
    <table class="table table-hover table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for postCategory in pagination %}
            <tr>
                <td>
                   <a href="{{ path('admin_post_category_read', {'id': postCategory.id}) }}">{{ postCategory.name }}</a>
                </td>
                <td>
                    <a class="m-2 btn btn-primary" href="{{ path('admin_post_category_update', {'id': postCategory.id}) }}">Update</a>
                    <a class="m-2 btn btn-danger" href="{{ path('admin_post_category_delete', {'id': postCategory.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
