{% extends 'layout/back.html.twig' %}

{% block title %}Liste des Games {% endblock %}
{% block body %}
<div class="container">
    <div class=" card">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.objet) }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.gameCategory) }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Rechercher' }) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>


    <a class="m-2 btn btn-primary" href="{{ path('admin_game_create')}}">Add a new Game</a>
    <div class="count">
        <h3> Number of Game : {{ pagination.getTotalItemCount }} </h3>
    </div>
    <table class="table table-hover table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for game in pagination %}
            <tr>
                <td>
                   <a href="{{ path('admin_game_read', {'id': game.id}) }}">{{ game.title }}</a>
                </td>
                <td>
                  <a class="m-2 btn btn-primary" href="{{ path('admin_game_update', {'id': game.id}) }}">Update</a>
                    <a class="m-2 btn btn-danger" href="{{ path('admin_game_delete', {'id': game.id}) }}">Delete</a>

                    {% if game.forum == null or game.forum.id == null %}
                        <a class="m-2 btn btn-success" href="{{ path('admin_forum_add_game', {'id': game.id}) }}">Ajout un forum pour ce jeu</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
