{% extends 'layout/back.html.twig' %}

{% block title %}Liste des Games {% endblock %}
{% block body %}
<div class="container">
    <a class="m-2 btn btn-primary" href="{{ path('admin_game_create')}}">Add a new Game</a>

    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for game in gameEntities %}
            <tr>
                <td>
                   <a href="{{ path('admin_game_read', {'id': game.id}) }}">{{ game.title }}</a>
                </td>
                <td>
                  <a class="m-2 btn btn-primary" href="{{ path('admin_game_update', {'id': game.id}) }}">Update</a>
                    <a class="m-2 btn btn-danger" href="{{ path('admin_game_delete', {'id': game.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
