{% extends 'layout/back.html.twig' %}
{% block title %}Update a new Game {% endblock %}
{% block body %}

    <div class="container">
        <a class="btn btn-primary" href="{{ path('admin_game') }}">Retour</a>
        <div class="m-2 container card">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.title) }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.description) }}
                </div>
            </div>

            <div class="row p-2">
                <div class="col-12 m-2">
                    {% if logo != '' %}
                        <img width="25%" src="{{ asset('uploads/logo/' ~ logo) }}" />
                    {%endif %}
                    {{ form_label(form.pathImg) }}
                    {{ form_widget(form.pathImg) }}
                </div>
            </div>

            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.price) }}
                </div>
            </div>


            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.noteGlobal) }}
                    {% if noteGlobal==0 %}
                        {% for i  in 1..10 %}
                            <img width="30px" height="30px" src="{{ asset('images/EmptyStar.jpg') }}" name="star" id="{{ i }}" onmouseover="fillstar(this)" onclick="vote(this,{{ i }})" />
                        {% endfor %}
                    {% elseif noteGlobal==10 %}
                        {% for i  in 1..10 %}
                            <img width="30px" height="30px" src="{{ asset('images/FullStar.jpg') }}" name="star" id="{{ i }}" onmouseover="fillstar(this)" onclick="vote(this,{{ i }})"/>
                        {% endfor %}
                    {% else %}
                        {% for i  in 1..noteGlobal%}
                            <img width="30px" height="30px" src="{{ asset('images/FullStar.jpg') }}" name="star" id="{{ i }}" onmouseover="fillstar(this)" onclick="vote(this,{{ i }})" />
                        {% endfor %}
                        {% for i  in noteGlobal+1..10%}
                            <img width="30px" height="30px" src="{{ asset('images/EmptyStar.jpg') }}" name="star" id="{{ i }}" onmouseover="fillstar(this)" onclick="vote(this,{{ i }})" />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.gameCategory) }}
                </div>
            </div>

            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.device) }}
                </div>
            </div>

            <div class="row p-2">
                <div class="col">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Update' }) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        function vote(Obj, val) {

            var champ = Obj.parentElement.children.namedItem('game_noteGlobal');
            champ.value = val;
            console.log(champ.value);

        }

        function fillstar(Obj){
            var stars=document.getElementsByName(Obj.name);



            for(i=0;i<stars.length;i++){

                if (i<=Obj.id){stars[i].src="{{ asset('images/fullstar.jpg') }}"}
                else{stars[i].src="{{ asset('images/emptystar.jpg') }}"}


            }
        }
    </script>


{% endblock %}
