{% extends 'layout/front.html.twig' %}

{% block title %}Liste des Post {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des posts </h1>
        <a class="m-2 btn btn-primary" href="{{ path('home') }}">Retour</a>
        {# total items count #}
        <div class="count">
            <h3> Number of Post : {{ pagination.getTotalItemCount }} </h3>
        </div>
        <table class="table table-success table-striped">
            <thead>
           <tr>
               <th{% if pagination.isSorted('p.Title') %} class="sorted"{% endif %}>
                   {{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}
               </th>
           </tr>
            </thead>
            <tbody>
            {% for post in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('post_read', {'id': post.id}) }}">{{ post.title }} - {{ post.status }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
