{% extends 'layout/front.html.twig' %}

{% block title %}{{ postEntity.title}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Affichage du post </h1>
        <a class="m-2 btn btn-primary" href="{{ path('post') }}">Retour</a>

        <div class="m-2 card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">[{{ postEntity.postCategory.name }}] {{ postEntity.title}} - [{{ postEntity.status|getStringValue(postEntity.status) }}]</h5>
                <p>{{ postEntity.content}}</p>
                <p><i>Created At {{ postEntity.createdAt|date() }} Par {{ postEntity.user.firstName }} {{ postEntity.user.lastName }}</i></p>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}
