{% extends 'layout/front.html.twig' %}

{% block title %}{{ topicEntity.title}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Affichage du topic </h1>
        <a class="m-2 btn btn-primary" href="{{ path('forum_view', {'id':topicEntity.forum.id}) }}">Retour</a>

        <div class="m-2 card border-success">
            <div class="card-body">
                <h5 class="card-title">
                    {% if topicEntity.pathLogo !='' %}
                        <img src="{{ asset('uploads/logo/' ~ topicEntity.pathLogo) }}" />
                    {%endif %}
                    {{ topicEntity.title}}
                </h5>
                <p>Date de création : {{ topicEntity.createdAt|date("d/m/Y h:i:s") }}</p>
            </div>
        </div>
        <br/>

        {% if app.user is not null %}
            <h2 class="text-center">Ajout du message </h2>
            <div class="m-2 card border-success">
                {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                <div class="row p-2">
                    <div class="col">
                        {{ form_row(form.content) }}
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col">
                        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Add' }) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        {% endif %}

        <h2 class="text-center">Liste des messages </h2>
        {# total items count #}
        <div class="count">
            <h3 class="m-2"> Number of message : {{ pagination.getTotalItemCount }} </h3>
        </div>
        <table class="m-2 table table-success table-striped table-hover">
            <thead>
            <tr>
                <th {% if pagination.isSorted('m.content') %} class="sorted"{% endif %} scope="col">
                    {{ knp_pagination_sortable(pagination, 'Content', 'm.content') }}
                </th>
                <th scope="col">
                    Auteur
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for message in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('message_view', {'id':message.id}) }}">
                            {{ message.content | length>10 ? message.content|slice(0,10)~'...' : message.content}}
                        </a>
                    </td>
                    <td>
                        {{ message.user.firstName }} {{ message.user.lastName }} ({{ message.user.email }})
                    </td>
                    <td>
                        {% if app.user == message.user and app.user is not null %}
                            <a class="btn btn-primary" href="{{ path('message_update', {'id':message.id}) }}">Modification</a>
                            <a class="btn btn-danger" href="{{ path('message_delete', {'id':message.id}) }}">Suppression</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
