{% extends 'base.html.twig' %}
{% block header  %}
    <header>
        <div class="p-2 container">
            <nav class="navbar text-right navbar-expand-lg navbar-light bg-light">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="accueil" href="{{ path('home') }}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="home admin" href="{{ path('admin') }}">Home Administration</a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{path('admin')}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administration
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_post_category') }}">Post Category</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_post') }}">Post</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_device') }}">Device</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_game_category') }}">Game Category</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_game') }}">Game</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_contact') }}">Message de contact</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                <h5>Bienvenue {{ app.user.firstName }}  {{ app.user.lastName }} - <a href="{{ path('app_logout') }}"> Déconnexion</a></h5>
            </nav>

        </div>
    </header>
{% endblock %}
{% block footer  %}
{% endblock %}