{% extends 'layout/front.html.twig' %}

{% block title %}{{ forumEntity.title}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Affichage du forum </h1>
        <a class="m-2 btn btn-primary" href="{{ path('forum_list') }}">Retour</a>
        <div class="m-2 card border-success">
            <div class="card-body">
                <h5 class="card-title">{{ forumEntity.title}}</h5>
                <p>Date de création : {{ forumEntity.createdAt|date("d/m/Y h:i:s") }}</p>
            </div>
        </div>
        <br/>

        <h2 class="text-center">Liste des topics </h2>
        <a class="m-2 btn btn-primary" href="{{ path('topic_add', {'forum': forumEntity.id}) }}">Ajout</a>
        <table class="m-2 table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in topicEntities %}
                <tr>
                    <td>
                        <img src="{{ asset('uploads/logo/' ~ topic.pathLogo) }}" />
                        <a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('topic_update', {'id': topic.id}) }}">Modification</a>
                        <a class="btn btn-danger" href="{{ path('topic_delete', {'id': topic.id}) }}">Suppression</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
