{% extends 'layout/front.html.twig' %}

{% block title %}{{ forumEntity.title}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Affichage du forum </h1>
        <a class="m-2 btn btn-primary" href="{{ path('forum_list') }}">Retour</a>
        <div class="m-2 card border-success">
            <div class="card-body">
                <h5 class="card-title text-left">{{ forumEntity.title}}</h5>
                {% for game in gameEntities %}
                    <div class="row">
                        <div class="col-4">
                            <img width="50%" src="{{ asset('uploads/logo/' ~ game.pathImg) }}"/>
                        </div>
                        <div class="col-3">
                            <h8>{{ game.description}}</h8>
                        </div>
                        <div class="col-5">
                            <h5 class="text-end">{{ game.price}} €</h5>
                        </div>
                    </div>

                    <h5 class="m-2 card-title text-end">Note Global :
                        {{ generate_etoile_html(game)|raw }}</h5>
                {% endfor %}
                <p class="text-start">Date de création : {{ forumEntity.createdAt|date("d/m/Y h:i:s") }}</p>
            </div>
        </div>
        <br/>
        <h2 class="text-center">Liste des topics </h2>
        {% if app.user.isBanni == false %}
        <a class="m-2 btn btn-primary" href="{{ path('topic_add', {'forum': forumEntity.id}) }}">Ajout</a>
        {% endif %}
        {# total items count #}
        <div class="count">
            <h3> Number of Topic : {{ pagination.getTotalItemCount }} </h3>
        </div>
        <table class="m-2 table-hover table table-success table-striped">
            <thead>
            <tr>
                <th{% if pagination.isSorted('t.Title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 't.title') }}
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in pagination %}
                <tr>
                    <td>
                        <img src="{{ asset('uploads/logo/' ~ topic.pathLogo) }}" />
                        <a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a>
                    </td>
                    <td>
                        {% if app.user.isBanni == false %}
                        <a class="btn btn-primary" href="{{ path('topic_update', {'id': topic.id}) }}">Modification</a>
                        <a class="btn btn-danger" href="{{ path('topic_delete', {'id': topic.id}) }}">Suppression</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <br/>
    </div>
{% endblock %}
